
<div class="container" style=" background-color:#E8E8E8; border-radius: 10px; ">
	<h1 align="center">Manage Quiz</h1>
	
	<br>
	
	

	<div ng-app="myApp" ng-controller="AddQuizController">
		<div class="row">
			<div ng-repeat="q in quiz" class="col-xs-6 col-md-4 ques-space">
				<a href="add/{{q.id}}" class="thumbnail">
					<img src="{{q.picture.url}}" class="show-pic-size">
					<p class="topic" >{{q.name}}</p>
				</a>

				<div align="center">
					<button class="btn btn-info" ng-click="edittopic(q.name,q.id,$index,q.picture.url)">Edit</button> 
					<button class="btn btn-danger" ng-click="deltopic(q.id,$index);">Delete</button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br><br>
	<div align="right">
		<button class="btn btn-primary" ng-click="addtopic()">Add Quiz</button>
	</div>
	<br>
</div>
<br><br>