Choice Name: <input type="text" name="name" ng-model="choice" placeholder="Choice name">
<br>
<input type="radio" name="chose" ng-model="show" value="true">Next
<input type="radio" name="chose" ng-model="show" value="false">End
<br>
<div ng-show="show=='true'">
	Go:<br>
	<select class="select-choice"  ng-model="ques" ng-options="q.name group by q.status for q in qn"></select>
</div>


<div ng-show="show=='false'">
	<br>
	<div class="btn-group"  ng-init="ss=false">
        <label class="btn btn-primary" ng-model="ss" btn-radio="true" >Choose Exist Result</label>

        <label class="btn btn-primary" ng-model="ss" btn-radio="false">Add Result</label>

    </div>

	<br>

	<br>
	<div ng-show="ss">
		<select class="select-choice"  ng-model="res" ng-options="r.name group by r.status for r in rs"></select>

	</div>

	<div ng-show="!ss">
		<textarea  rows="10" cols="40" ng-model="ending"></textarea>
	</div>
</div>


<br>
<button ng-click="addc()" class="btn btn-primary" ng-disabled="click">Add</button> 
<button ng-click="close()" class="btn btn-warning">Close</button>
