Choice Name: <input type="text" name="name" ng-model="choice">
<br>
<input type="radio" name="chose" ng-model="show" value="true">Next
<input type="radio" name="chose" ng-model="show" value="false">End
<br>
<div ng-show="show=='true'">
	Go:<br>
	<select ng-model="ques" ng-options="q.name group by q.status for q in qn"></select>
</div>

<div ng-show="show=='false'">
	<p>End...</p>
	<textarea rows="10" cols="40" ng-model="ending"></textarea>
</div>


<br>
<br>
<button ng-click="addc()" class="btn btn-primary" ng-disabled="click">Add</button> 
<button ng-click="close()" class="btn btn-warning">Close</button>
