
<h2 align="center">{{quiz.name}}</h2>

<div class='container'>
	<hr>
	<br>
	<div ng-if="qstatus=='notend'">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
			<div class="panel panel-default">
				<div class="panel-heading" style="background-color:; ">
					<h4><b>Question:</b> {{question}}</h4>
				</div>
				<div class="penal-body" style="background-color:;">
					<br>
					<div class="choice-box" ng-repeat="c in choices">

						<a href="" ng-hide="c.status" ng-click="clickshow($index)"><span class="glyphicon glyphicon-remove-circle size-icon-no" aria-hidden="true"></span></a>
						<a href="" ng-show="c.status" ng-click="clickshow($index)"><span class="glyphicon glyphicon-ok-circle size-icon-yes" aria-hidden="true"></span></a>

						<a href="" ng-click="clickshow($index)"><div class="choice-ans"><span class="ans">{{ c.name }}</span></div></a>
						
		
						<br>

					</div>
					<div class="row">
						<div class="col-sm-10"></div>
						<div class="col-sm-2" align="center"><button class="btn btn-primary btn-question" ng-click="next()">Submit</button></div>
						
					</div>

				</div>
			</div>
			</div>
		</div>
	</div>

	<div ng-if="qstatus==='end'">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color:; ">
						<h4><b>Result</b></h4>
					</div>
					<div class="penal-body" style="background-color:;">
						<br>
						<div class="choice-box space">
							{{question}}
						</div>
						
							
					</div>
				</div>
			</div>
		</div>

		<div align="right">
			<button style="margin-right: 100px;" class="btn btn-warning" onclick="location.href='#index' ">Back</button>
		</div>
	</div>


</div>

